/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

 //Contenedor global

.container-main {
	position: relative;
	width: 100%;
}

// Container - all width

.wrapper { // Container 2 Level all widht
	width:100%;
	@include clearfix();
	position: relative;
}

.wrapper--black {background:$color-1;} // bg negro

.wrapper--white  { background:$color-2;} // bg blanco

.wrapper--darkcream  {background:$color-8;} // bg crema oscuro

// Container - Max widht

.page-container-fixed {// NO TOP & BOTTOM PAD
	max-width:$width-content;
	padding: 0px $spacing-unit-large;
	margin: 0 auto;
	position: relative;
	@include clearfix();
	
	@media (max-width:$break-tablet) {
	
        padding:0px $spacing-unit-medium;
    }
	
	@media (max-width:$break-movil) {
	
        padding:0px $spacing-unit-small;
    }
}


    
.page-container-fixed-pad {  // padding top and bottom. FLUID
	
	max-width:$width-content;
	padding: $spacing-unit-large;
	margin: 0 auto;
	position: relative;
	@include clearfix();
	
	@media (max-width:$break-tablet) {
	
        padding:$spacing-unit-medium;
    }
	
	@media (max-width:$break-movil) {
	
        padding:$spacing-unit-medium $spacing-unit-small;
    }
    
}

.page-container-fixed-small-pad {  // padding top and bottom. FLUID
	
	max-width:$width-content;
	padding:  $spacing-unit-medium $spacing-unit-large;
	margin: 0 auto;
	position: relative;
	@include clearfix();
	
	@media (max-width:$break-movil) {
	
        padding:$spacing-unit-small;
    }
    
}

