/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

 //Contenedor global

.container-main {
	position: relative;
	width: 100%;
}

// Container - all width

.wrapper { // Container 2 Level all widht
	width:100%;
	@include clearfix();
	position: relative;
}

.wrapper--black {background:$color-1;} // bg negro

.wrapper--white  { background:$color-2;} // bg blanco

.wrapper--darkcream  {background:$color-8;} // bg crema oscuro

// Container - Max widht

.page-container-fixed {// NO TOP & BOTTOM PAD
	max-width:$width-content;
	padding: 0px $spacing-unit-medium;
	margin: 0 auto;
	position: relative;
	@include clearfix();
	/*
	@media (max-width:$break-tablet) {
	
        padding:0px $spacing-unit-medium;
    }
	*/
	@media (max-width:$break-movil) {
	
        padding:0px $spacing-unit-small;
    }
}

.page-container-fixed-pad {  // padding top and bottom. FLUID
	
	max-width:$width-content;
	padding: $spacing-unit-large;
	margin: 0 auto;
	position: relative;
	@include clearfix();
	
	@media (max-width:$break-tablet) {
	
        padding:$spacing-unit-medium;
    }
	
	@media (max-width:$break-movil) {
	
        padding:$spacing-unit-medium $spacing-unit-small;
    }
    
}

.page-container-fixed-small-pad {  // padding top and bottom. FLUID

	max-width:$width-content;
	padding:  $spacing-unit-medium $spacing-unit-large;
	margin: 0 auto;
	position: relative;
	@include clearfix();
	
	@media (max-width:$break-movil) {
	
        padding:$spacing-unit-small;
    }
    
}


/** Columnas con modelo flexbox */

.row-flex {
	position: relative;
	display: flex;
	display: -webkit-flex; /* Safari */
	display: -ms-flexbox;
	-webkit-flex-direction: row; /* Safari */
	flex-direction: row;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;
}

[class^="col-"] {
	width: 100%;
	position: relative;
}

/* Columns col-xs- */

@media (min-width:0) {

	.col-xs-2 {
		width: calc((100% / 12)*2);
	}
	.col-xs-3 {
		width: calc((100% / 12)*3);
	}
	
	.col-xs-4 {
		width: calc((100% / 12)*4);
	}
	.col-xs-5 {
		width: calc((100% / 12)*5);
	}
	.col-xs-6 {
		width: calc((100% / 12)*6);
	}
	
	.col-xs-7 {
		width: calc((100% / 12)*7);
	}
	
	.col-xs-8 {
		width: calc((100% / 12)*8);
	}
	
	.col-xs-9 {
		width: calc((100% / 12)*9);
	}
	
	.col-xs-10 {
		width: calc((100% / 12)*10);
	}

	.col-xs-offset-1 {
		margin-left: calc((100% / 12)*1);
	}
	.col-xs-offset-2 {
		margin-left: calc((100% / 12)*2);
	}
	.col-xs-offset-3 {
		margin-left: calc((100% / 12)*3);
	}
	.col-xs-offset-4 {
		margin-left: calc((100% / 12)*4);
	}
	.col-xs-offset-5 {
		margin-left: calc((100% / 12)*5);
	}
	.col-xs-offset-6 {
		margin-left: calc((100% / 12)*6);
	}
}

/* Columns col-sm- */

@media (min-width:$screen-sm) {

	.col-sm-2 {
		width: calc((100% / 12)*2);
	}
	.col-sm-3 {
		width: calc((100% / 12)*3);
	}
	
	.col-sm-4 {
		width: calc((100% / 12)*4);
	}
	.col-sm-5 {
		width: calc((100% / 12)*5);
	}
	.col-sm-6 {
		width: calc((100% / 12)*6);
	}
	
	.col-sm-7 {
		width: calc((100% / 12)*7);
	}
	
	.col-sm-8 {
		width: calc((100% / 12)*8);
	}
	
	.col-sm-9 {
		width: calc((100% / 12)*9);
	}
	
	.col-sm-10 {
		width: calc((100% / 12)*10);
	}

	.col-sm-offset-1 {
		margin-left: calc((100% / 12)*1);
	}
	.col-sm-offset-2 {
		margin-left: calc((100% / 12)*2);
	}
	.col-sm-offset-3 {
		margin-left: calc((100% / 12)*3);
	}
	.col-sm-offset-4 {
		margin-left: calc((100% / 12)*4);
	}
	.col-sm-offset-5 {
		margin-left: calc((100% / 12)*5);
	}
	.col-sm-offset-6 {
		margin-left: calc((100% / 12)*6);
	}
}


/* Columns col-md- */

@media (min-width:$screen-md) {

	.col-md-2 {
		width: calc((100% / 12)*2);
	}
	.col-md-3 {
		width: calc((100% / 12)*3);
	}
	
	.col-md-4 {
		width: calc((100% / 12)*4);
	}
	.col-md-5 {
		width: calc((100% / 12)*5);
	}
	.col-md-6 {
		width: calc((100% / 12)*6);
	}
	
	.col-md-7 {
		width: calc((100% / 12)*7);
	}
	
	.col-md-8 {
		width: calc((100% / 12)*8);
	}
	
	.col-md-9 {
		width: calc((100% / 12)*9);
	}
	
	.col-md-10 {
		width: calc((100% / 12)*10);
	}
	
	.col-md-offset-1 {
		margin-left: calc((100% / 12)*1);
	}
	.col-md-offset-2 {
		margin-left: calc((100% / 12)*2);
	}
	.col-md-offset-3 {
		margin-left: calc((100% / 12)*3);
	}
	.col-md-offset-4 {
		margin-left: calc((100% / 12)*4);
	}
	.col-md-offset-5 {
		margin-left: calc((100% / 12)*5);
	}
	.col-md-offset-6 {
		margin-left: calc((100% / 12)*6);
	}
}

.row-flex-gutter {
	position: relative;
	overflow: hidden;
	margin-right:-$gutter-width/2;
	margin-left:-$gutter-width/2;
	
	[class^="col-"] {
		padding-right:$gutter-width/2;
		padding-left:$gutter-width/2;
	}
	
	@media (max-width:$screen-xs) {
		
		margin-right:-$gutter-width/4;
		margin-left:-$gutter-width/4;
		
		[class^="col-"] {
			padding-right:$gutter-width/4;
			padding-left:$gutter-width/4;
		}
		
	}
}

.row-flex-gutter-sm {
	position: relative;
	overflow: hidden;
	margin:-$gutter-width/4;
	
	[class^="col-"] {
		padding:$gutter-width/4;
	}
}

