/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li{
    > ul,
    > ol{
         margin-bottom:0;
     }
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 */
/*ul*/.numbered-list{
    list-style-type:decimal;
}


/*------------------------------------*\
    BLOCK-LIST ORANGE
\*------------------------------------*/

.block-list-circle-orange {
	
	li {
		//list-style:disc;
		margin-left:$spacing-unit-medium;
		//padding-left:  $spacing-unit-small;
		
		margin-bottom: $spacing-unit-small;
		
		//&:last-child {margin-bottom: 0px;}

		
		&:before {
			width:7px;
			height:7px;
			background-image:url(../img/bullet-orange.svg);
			background-repeat: no-repeat;
			display:block;
			content: " ";
			position:absolute;
			margin:6px 0px 0px -14px;
		}
		
			
	}
}

/*------------------------------------*\
    LIST ORANGE NUMBERED
\*------------------------------------*/


.list-num-big {
	
	margin:  $spacing-unit-medium 0px;
	
	li {
		
		//list-style:disc;
		margin-left:45px;
		//padding-left:  $spacing-unit-small;
		
		margin-bottom: $spacing-unit-medium;
		
		//&:last-child {margin-bottom: 0px;}

		
		&:before {
			width:30px;
			height:30px;
			background-image:url(../img/bullet-list-numbered.svg);
			background-repeat: no-repeat;
			display:block;
			content: " ";
			position:absolute;
			margin:-3px 0px 0px -40px;
		}
		
		&.list-num-big-1:before { background-position: 0px 0px;}
		
		&.list-num-big-2:before { background-position: 0px -30px;}
		
		&.list-num-big-3:before { background-position: 0px -60px;}
		
		&.list-num-big-4:before { background-position: 0px -90px;}
		
		&.list-num-big-5:before { background-position: 0px -120px;}

		
	}
	
	
}