///////////////////////////////////////////////
////////
///////    COMENTARIOS
//////
///////////////////////////////////////////////

.reviews {
	
}

.review {
	margin-top:$spacing-unit-medium;
	border:1px $color-cream-dark solid;
	padding: $spacing-unit-sm $spacing-unit-sm;
	border-radius: 2px;
}

.review-header{
	font-size: $milli-size;
	margin-bottom: 5px;
	color: $color-gray;
}

.review-author {
	text-transform: uppercase;
	font-weight: bold;	
}
.review-author-location{
	font-weight: bold;
}

.review-date {
	font-style: italic;
	caption-side: $color-3;
}

.review-content{}