/.idea
/images_backup
/imagecache
/version_antigua
node_modules/
*.log
.DS_Store
/images/uploads/establiments/*
/vendor/*
prepros.cfg
includes/db_config\.php

administrador/includes/config\.php

includes/config-mobile\.php

includes/config\.php

\.htaccess

administrador/js/BookingCalendar/php/opendb\.php
