/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/

/*-----------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
$base-font-size:    14px!default;
$base-line-height:  20px!default;
$line-height-ratio: 150%;
/**
 * Base font-family.
 */
$base-font-family:  'Open Sans', 'Helvetica', sans-serif;

/**
 * Default colour for objects’ borders etc.
 */
$base-ui-color:     #ccc!default;
$base-spacing-unit:30px;
$half-spacing-unit:15px;


/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
 
$break-movil: 600px;
$break-tablet: 900px;
$break-desktop:1023px;
$break-all-mobile: 240px 900px;

$screen-xs:480px;
$screen-sm:769px;
$screen-md:1024px;
$screen-lg:1200px;

$gutter-width: 40px;

/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           18px!default; // .epsilon
$h6-size:           16px!default; // .zeta
$h7-size:			14px;
$h8-size:			12px;
$h9-size:			10px;
$milli-size:        12px!default;
$micro-size:        10px!default;




/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand stuff
 */

$color-1:#232323; // Negro
$color-2:#fff; // Blanco
$color-3:#777; // Gris oscuro
$color-4:#ababab; // Gris claro
$color-5:#eee; // Gris muy claro
$color-6:#f28842; // Naranja
$color-7:#f1f1ef; // Cream (background)
$color-8:#e7e7e5; // Cream oscuro ()
$color-9:#f94b36; // rojo
$color-10:#4ba6db; // Azul
$color-11:#f9b636; // Amarillo
$color-12:#81c824; // Verde
$color-13:#813faf; // Purpura
$color-14:#ac2717; // Rojo -sombra btn
$color-15:#a04a1d; // Naranja -sombra btn
$color-16:#1970a3; // azul -sombra btn
$color-17:#487d02; // verde -sombra btn

$color-reserva:#d0021b; //Rojo reserva inmediata
$color-reserva2:#b60016; //Rojo reserva inmediata

$color-white: #fff;
$color-black: #232323;
$color-gray: #777;
$color-gray-light: #ababab;
$color-orange:#f28842;
$color-orange-dark:#a04a1d;
$color-red: #f94b36;
$color-red-dark: #ac2717;
$color-cream-light:#f1f1ef;
$color-cream-dark:#e7e7e5;

////////////  COLORES REDES SOCIALES

$color-email: #0a88ff;
$color-facebook: #306199;
$color-linkedin: #007bb6;
$color-twitter: #26c4f1;
$color-googleplus: #e93f2e;
$color-youtube: #df1c31;
$color-pinterest: #b81621;
$color-github: #444;


/*------------------------------------*\
    MEDIDAS
\*------------------------------------*/

$width-content:1360px;
$spacing-unit-large: 50px;
$spacing-unit-medium: 25px;
$spacing-unit-small: 10px;

$spacing-unit-lg: 48px;
$spacing-unit-md: 24px;
$spacing-unit-sm: 16px;
$spacing-unit-xs: 10px;
$spacing-unit-xxs: 6px;

/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
$brand-face: 'Open Sans', 'Helvetica', sans-serif;
$brand-color: #f28842;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;

