/*------------------------------------*\
    hr-lines
\*------------------------------------*/

.hr-line-1 {
	width: 100%;
	height: 1px;
	padding: 0px;
	background: $color-8;
	margin: $spacing-unit-medium 0px;
	@include clearfix();
}

.hr-line-2 {
	width: 100%;
	height: 1px;
	padding: 0px;
	background: $color-2;
	margin: $spacing-unit-small 0px;
	@include clearfix();
}