///////////////////////////////////////////////
////////
///////    Reserva Inmediata
//////
///////////////////////////////////////////////

.instant-booking {
	//display: table;
	background: $color-reserva;
	color:$color-white;
	font-size: $h9-size;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	width: 120px;
	border-radius: 2px;
}

.instant-booking-icon {
	//background: $color-reserva2;
	width: 20px;
	height: 20px;
	display:block;
	float: left
}

.instant-booking-text {
	padding: 0 5px;
}

.instant-booking-advice {
	font-size:$milli-size;
	margin-top: 10px;
	
	.instant-booking-advice-icon {
		width: 24px;
		height: 24px;
		display:block;
		float: left
	}
	
	.instant-booking-advice-text {
		overflow: hidden;
	}
}