
/*------------------------------------*\
    $SPLIT
\*------------------------------------*/
.split {
	padding: 5px 0px;
	border-top: 1px $color-2 solid;
	font-size: $h6-size;
}

.split--border-grey {border-top: 1px $color-5 solid;}

 
.split-title {display: inline-block} //Titulo a la izquiera
	
.split-content {float: right; margin-top:5px;} //concepto a la derecha