/*------------------------------------*\
   Tabs
\*------------------------------------*/

/* Tabs */

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/
.tab-links {
	text-align: center;
	margin: 0 auto;
	display: table;
}
/*
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}*/

.tab-links li {
	
	margin:0px 10px;
	float:left;
	list-style:none;
	
	a {
		color: $color-gray;
		
		&:hover {
			color: $color-black;
		}
	}
	
	@media (max-width:$screen-xs) {
		float: none;
		margin: 10px 0;
	}
}

li.active a {
	border-bottom: 2px #aaa solid;
}

/*----- Content of Tabs -----*/

.tab-content {
	display: block;
	padding:30px 5px;
	/*
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
	*/
}

.tab {
	display:none;
}
.tab.active {
	display:block;
}