///////////////////////////////////////////////
////////
///////    CARDS - Casa
//////
///////////////////////////////////////////////


.card-places {
	//@include clearfix ();
	@include transition (all 0.3s ease-in-out);
}

.card-places-img img {width: 100%; height: auto;}

.card-places-title {font-size:$h4-size; line-height: 130%; font-weight: bold; padding:5px 0px; }

.card-places-content {color:$color-3;}

.card-places-link {text-decoration: underline; padding:5px 0px; }

@media (min-width:$break-desktop) {
	
	.card-places:hover {
		
		.card-places-img {@include opacity  (0.8)}
		
		.card-places-content {color:$color-1;}
		
		.card-places-link {color:$color-6;}
	}
}