<?php
session_start();

ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
//error_reporting(E_ALL);
error_reporting(E_ALL & ~E_NOTICE);

$config_DB_datetime_format = 'Y-m-d H:i:s';
define('ABS_BASE','/var/www/somrurals_v2/');
define('CDN_BASE','https://cdn-rural.ams3.cdn.digitaloceanspaces.com/somrurals/');
define('ADMIN_BCC','info@somrurals.com');

//--------------------- REPORTES DE ERRORES O WARNINGS ------------------------------
/*
error_reporting(E_ALL);
ini_set('display_errors', 'On');
*/



// ------------------- CONFIGURACIO BBDD ONLINE --------------------------------------

// Clase de acceso a BD
require_once (ABS_BASE.'administrador/includes/MysqliDb.php');
$db = new MysqliDb (Array (
	    'host' => 'localhost',
	    'username' => 'root',
	    'password' => '7caf3dd428a2ea9e3c3ae8318a342e81b890f6f4d278b9aa',
	    'db'=> 'somrurals',
	    'port' => 3306,
	    'prefix' => '',
	    'charset' => 'utf8'));



//define('URL_BASE','http://localhost/somrurals/');
define('URL_BASE','http://www.somrurals.com/');
/*define('HOME_DIR','/var/www/vhosts/somrurals.com/httpdocs/');*/
/*define('HOME_DIR','/www/somrurals.com/');*/
//define('HOME_DIR','C:\\Apache24\\htdocs\\somrurals/');
define('HOME_DIR','/var/www/somrurals_v2/');

define('FILE_DIR','images/uploads/');


$allow_email_bcc=true;
$email_bcc_address=array('info@somrurals.com');


include 'includes/functions.php';

if ($_SESSION['type_user']=='propietario') {
	if ($superadmin==1) header('location: index.php');
}
$usuarios= array(array('usuario'=>'operador','clau'=>'6a8efb01b806ba7189de0205a976477f'),array('usuario'=>'superadmin','clau'=>'61d84288e21c002a76aa98e9e71bb009'));
$usuarios_excluidos= array('operador');

require ABS_BASE . '/vendor/autoload.php';

?>