/*------------------------------------*\
    CHECK-OUT FORM
\*------------------------------------*/

.checkout-form-resume {
	
	display: block;
	background: $color-2 !important;
	@include clearfix ();
	@include border-top-right-radius (25px);
	max-width: 550px;
	margin: 0 auto;
	
	.card-header {
		padding: 16px;
		
		.instant-booking {
			margin-bottom: 5px;
		}
	}
	
	.card-content {
		padding: 0 16px $spacing-unit-xs;
	}
	
	.card-location {
		padding-bottom: 5px;
	}
	.card-description .soft-half--bottom {
		padding-bottom: 5px;
	}

}

/* Soluciona error de altura fija en las descripciones de las cajas para introducir elipsis */
.checkout-form-resume .card-description {
	height: auto !important;
}

.precio-anticipado {
	font-size: $h4-size;
	color: $color-6;
}

.checkout-advice {
	
	border: 1px $color-2 solid;
	padding: $spacing-unit-small;
	font-size: $milli-size;
	text-align: center;
	max-width: 550px;
	margin: $spacing-unit-small auto;
	@include border-radius ($brand-round);
}