///////////////////////////////////////////////
////////
///////    HEADER
//////
///////////////////////////////////////////////

.wrapper-nav {
	height: 70px;
	background: $color-2;
	@include box-shadow (0px 2px 2px 0px rgba(0, 0, 0, 0.3));
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
	z-index:999;
	
	@media (max-width:$break-tablet) {
		height: 45px;
	}	

}

.logo {
	float: left;
	width:166px;
	height: 70px;
	overflow: hidden;
	display: inline-block;
	text-indent: -9999px;
	background:url(../img/sprite-logo.svg) 0px 0px no-repeat;
	line-height: 70px;
	
	
	@media (max-width:$break-tablet) {
	
		height: 45px;
		background:url(../img/sprite-logo.svg) 0px -140px no-repeat;
	}
	
}

.nav-desktop {	
	
	@media (max-width:$break-tablet) {
	
		display:none;
    }	
}

.menu-trigger {
	
	display:none;
	float: right;
	width: 45px;
	height:45px;
	
	@media (max-width:$break-tablet) {
		display:block;
		float: right;
    }
}

//// TRANSPARENT NAV FOR HOME

.nav-transparent {
	background: rgba(0,0,0, (0.3))!important;
	//background: transparent !important;
	color:$color-2 !important;
	@include box-shadow (none);
	
	.logo {
		
		background:url(../img/sprite-logo.svg) 0px -70px no-repeat;
		
		@media (max-width:$break-tablet) {
	
			height: 45px;
			background:url(../img/sprite-logo.svg) 0px -185px no-repeat;
		}
	}
	
	.search_header input[type="text"]{
		
		background:url(../img/icon-search-white.svg) no-repeat center left;
	}
	
	.search_header input[type="text"]:focus{
	    width:250px;
	    background:$color-5 url(../img/icon-search.svg) no-repeat center left;
	    outline:none;
	    cursor:text;
	    padding-left:35px;
	}

	
	nav a {
		color:$color-2;
		&:hover{color:$color-2;}
	}
	
	.wrapper-dropdown-3 {
		background: transparent;
		color: $color-2;
	}
	
	.wrapper-dropdown-3:after {
		border-color: $color-2 transparent;
	}
}