///////////////////////////////////////////////
////////
///////    Home
//////
///////////////////////////////////////////////

////////////////  HERO BANNER HOME


.seo-block {
	
	font-size: $milli-size;
	
	p {margin-bottom: 25px;}
		
	a {color: $color-3;
		
		&.seo-block-title {color: $color-1; font-weight: bold; margin-right: 15px;}
		
		&:hover {color: $color-6}
	}
}