/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

/*------------------------------------*\
    $BASE
\*------------------------------------*/


.btn{
    display:inline-block;       /* [1] */
    vertical-align:middle;      /* [2] */
    white-space:nowrap;         /* [3] */
    font-family:inherit;        /* [4] */
    font-size:100%;             /* [4] */
    cursor:pointer;             /* [5] */
    border:none;                /* [6] */
    margin:0;                   /* [6] */
    padding-top:   0;           /* [6] */
    padding-bottom:0;           /* [6] */
    line-height:46px;              /* [7] */
    padding-right:5px;          /* [7] */
    padding-left: 5px;          /* [7] */
    border-radius:$brand-round; /* [8] */
    height: 46px;
    width: 100%;
    text-align: center;
}

.btn{

    &,
    &:hover{
        text-decoration:none;   /* [9] */
    }

    &:active,
    &:focus{
        outline:none;
    }
}

/*------------------------------------*\
    BOTONES PRIMARIOS
\*------------------------------------*/


.btn--primary{
	background: $color-9;
	border-bottom: 3px $color-14 solid;
	color: $color-2;
	text-transform: uppercase;
}

.btn--secondary{
	background: $color-10;
	border-bottom: 3px $color-16 solid;
	color: $color-2;
}

.btn--tertiary {
	background: $color-12;
	border-bottom: 3px $color-17 solid;
	color: $color-2;
	font-weight: bold;
}

@media (min-width:$break-desktop) {
	
	.btn--primary:hover {
		background: $color-14;
	}
	
	.btn--secondary:hover{
		background: $color-16;
	}
	
	.btn--tertiary:hover{
		background: $color-17;
	}
	
}

/*------------------------------------*\
    BOTONES VARIOS
\*------------------------------------*/

.btn--back{
	
	//background: none;
	display: inline-block;
	color: $color-1;
	margin-left: 20px;
	position:relative;
	text-transform: uppercase;
	
	&:before {
		width:20px;
		height:20px;
		background-image:url(../img/sprite.svg);
		content: " ";
		position:absolute;
		background-position: -140px -80px; 
		margin:0px 0px 0px -18px;
	}
	
	&:hover {text-decoration: underline;}	
}

.btn--more {
	
	color: $color-1;
	//margin-left: 10px;
	display: table;
	position:relative;
	text-transform: uppercase;
	margin:0 auto;
	    
    
	&:after {
		width:20px;
		height:20px;
		background-image:url(../img/sprite.svg);
		//display:block;
		content: " ";
		position:absolute;
		background-position: -160px -80px; 
		margin:-1px 0px 0px 0px;
	
	}
	
	&:hover {text-decoration: underline;}
}

/*------------------------------------*\
    Ghost-buttons
\*------------------------------------*/

.btn-ghost {
	background: transparent;
	display: inline-block;
	border-radius:$brand-round;
	padding: 9px 20px;
}

.btn-ghost--white {
	border:1px $color-2 solid;
	color:$color-2;
	@media (min-width:$break-desktop) {
	
		&:hover {
			background:$color-2;
			color: $color-1;
		}
	
	}
}

