///////////////////////////////////////////////
////////
///////    COMENTARIOS
//////
///////////////////////////////////////////////

.reviews {
	
}

.review {
	margin-top:$spacing-unit-medium;
	border-top:1px $color-5 solid;
}

.review-header{
	margin-top:$spacing-unit-medium !important;
	font-size: $milli-size;
	margin-bottom: 5px;
}

.review-author {
	text-transform: uppercase;
	font-weight: bold;	
}
.review-author-location{
	font-weight: bold;
}

.review-date {
	font-style: italic;
	caption-side: $color-3;
}

.review-content{
	background: $color-8;
	@include border-radius ($brand-round);
	padding: $spacing-unit-small; 
}