/**************************************
*
*  Contact PAGE
*
***************************************/

.hero-how-to-book { 

	background-position: center center;
	background-image: url(../img/bg-hero-contact.jpg);
	//color:$color-2;
	//@include background-size(cover);
	
}

.content-how-to-book {
	
	h2 {
		margin-bottom: $spacing-unit-small;
		font-weight: bold;
		font-size: $h3-size;
	}
}

