<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h1 id="somrurals">SOM RURALS</h1>

<p>Diseño y front-end por Alberto del Río www.delirios.es</p>

<h2 id="actualizaciones">Actualizaciones</h2>

<h3 id="version1.330012017">VERSION 1.3 (30/01/2017)</h3>

<ul>
<li><p>Cambiados las fichas de resultados de búsqueda. Cambios importantes</p></li>
<li><p>Cambiada ficha de casa. Cambios importantes.</p></li>
</ul>

<h3 id="version1.204032016">VERSION 1.2 (04/03/2016)</h3>

<ul>
<li><p>Modificada landing page. Puesto el buscador en la parte superior como test durante un mes para reducir el rebote.</p></li>
<li><p>Ficha de producto. Incluido video youtube responsive.</p></li>
<li><p>Ficha recurso. Solucionado problema de alineación con el texto</p></li>
<li><p>Home. Incluida clase para corregir alineación vertical.</p></li>
</ul>

<h3 id="version1.109102015">VERSION 1.1 (09/10/2015)</h3>

<ul>
<li>Carga de Javascript

<ul>
<li><p>Para Aligerar la carga, se han dejado los scripts básicos cargando en la parte superior: jquery, modernizr.</p></li>
<li><p>El script init.js se ha compilado dentro de script.min.js, y se ha puesto a cargar an el pie, antes de la etiqueta /body</p></li>
<li><p>Quitado el javascript tabs.js e inyectado en el html, ya que es pequeño y solo aplica en la home, para aligerar carga de scripts externos</p></li>
<li><p>Carga de script de google maps https://maps.googleapis.com/maps/api/js?v=3.exp solo en el cuerpo de las páginas que lo usan, para ayudar a aligerar la carga de scripts.</p></li>
<li><p>EL resto de scripts que actualmente se usan: scripst.js y BookingCalendar.js deben ponerse a cargar también en el footer. EVITAR la carga de estos scripts (especialmente BookingCalendar.js cuando en las páginas que no sean necesarias.). Intentar minificarlos para que la ejecución sea más rápida.</p></li>
</ul></li>
<li><p>CSS. Reorganizado los archivos SASS dentro de una carpeta del mismo nombre (aunque esta no hay que publicarla)</p></li>
<li><p>HEAD: Limpiada la cabecera de scripts comentados.</p></li>
<li><p>HEAD: Etiquetas metadatos OG. Quitadas. Si no se van a completar, mejor quitarlas.</p></li>
<li><p>Cabecera solo con el logo. Para las páginas de checkout. includes/header-clean.php</p></li>
<li><p>index.php Añadidas las propuestas de valor.</p></li>
<li><p>index.php script de las tabs metido en el html para aligerar (ya que sólo se usa ahí).</p></li>
<li><p>includes/mainsearch.php Retocado el buscador principal para que ajuste perfectamente y que el botón de buscar destaque más. En el html se ha insertado el botón submit dentro de la capa anterior.</p></li>
<li><p>Etiqueta INSTANT BOOKING. En includes/instant-booking.php</p></li>
<li><p>Busqueda.php </p>

<ul>
<li><p>Añadido en los filtros el filtro de casa con reserva.</p></li>
<li><p>IMPORTANTE: Optimizada la carga de los filtros. Estos se cargan de la propia capa id&#8220;filters-mobile&#8221; mediante una ventana modal, en lugar de otro include de filtros como hacía antes.</p></li>
<li><p>Mobile: Barra inferior de &#8220;Mostrar filtros&#8221;. Incluido código para trackear en analytics.</p></li>
</ul></li>
<li><p>ficha.php</p>

<ul>
<li><p>Ajustes en las columnas y css para el correcto funcionamiento de la columna fija en parte de la derecha en desktop. El código de inicialización del stiky se ha eliminado del html, ya que ahora se inicializa desde scripst.min y solo aplica cuando este es desktop</p></li>
<li><p>IMPORTANTE: MOBILE.</p>

<ul>
<li><p>Cambiado el color de la barra inferior de llamada a la acción a negro para que destaque mejor.</p></li>
<li><p>El botón de reservar ahora llama a la caja de reserva como ventana modal, en lugar de hacer un scroll como hacía antes (al igual que en los filtros). De esta manera mejoramos notablemente la experiencia de usuario. En este mismo botón se ha incluido un código de evento para analytics.</p></li>
</ul></li>
</ul></li>
<li><p>Paginas de CheckOut. Cambiado el header a uno sin menú para evitar las distracciones/escapatoria del usuario</p></li>
<li><p>CheckOut Instant Booking</p>

<ul>
<li><p>checkout-instant-booking&#8211;1.php</p></li>
<li><p>checkout-instant-booking&#8211;2.php</p></li>
<li><p>checkout-instant-booking&#8211;3.php</p></li>
</ul></li>
<li><p>CheckOut Pago con tarjeta (desde casa normal)</p>

<ul>
<li><p>emails/12.2.2.Email-DisponibilidadReserva-Tarjeta.html</p></li>
<li><p>checkout-tarjeta&#8211;1.php</p></li>
</ul></li>
<li><p>Pagina de error en el checkout checkout-error.php</p></li>
<li><p>Pagina de información sobre la reserva info-reserva.php</p></li>
</ul>

<h3 id="version1.0">VERSION 1.0</h3>

<h2 id="csss">CSS&#8217;s</h2>

<ul>
<li>Realizadas en SASS y compiladas posteriormente.</li>
<li>Componentes modulares. Separado el layout, grid, tipografias, por hojas.</li>
<li>Las variables de configuración se encuentran en _default.scss</li>
<li>EL CSS se compila en main.min.css</li>
<li>En vendors se encuentran los estilos de componenetes externos, como select2, datepicker..</li>
</ul>

<h2 id="componentesjs">COMPONENTES JS</h2>

<p>El archivo init.js contienen inicializaciones de elementos como calendarios, tooltips, etc..</p>

<ul>
<li><p>SELECT2
Permite las busquedas dentro de los select.
http://ivaynberg.github.io/select2/</p></li>
<li><p>JQUERY UI Datepicker
Selector de fechas.
http://jqueryui.com/datepicker/</p></li>
<li><p>STICKY-KIT
Fija la capa al hacer scroll. Usado para fijar el book-form en la ficha de producto, y para el submenú en la ficha de Recurso turístico.
https://github.com/leafo/sticky-kit</p></li>
<li><p>FOTORAMA
Carrusel de fotos con thumbnail en la ficha de producto y recursos turísticos.
http://fotorama.io/</p></li>
<li><p>OWL-CAROULSEL
Carrusel usdo para para mejorar la experiencia en listados. Hace que las columnas de 3 y 4 elementos se conviertan en carruseles en dispositivos moviles. Inicializado en Init.js.
http://www.owlcarousel.owlgraphic.com/</p></li>
<li><p>TOOLTIPSTER
Tooltips customizables. Necesita ser inicializada previamente para meter el contenido. Esto se encuentra en init.js
http://iamceege.github.io/tooltipster/</p></li>
<li><p>JQUERY VALIDATION
Valida los formularios
http://jqueryvalidation.org</p></li>
<li><p>VENOBOX
Ventanas modales.
http://lab.veno.it/venobox/</p></li>
<li><p>TABS
Pestañas cuyo link es un achor dentro de la página. Para dispositivos móbiles transforma las tablas en un desplegable para el facil uso del usuario.</p></li>
<li><p>Background cycle
Inserta un ciclo de imágnees en el background. Usado en la home, landing.
http://www.jqueryscript.net/slideshow/Simple-jQuery-Background-Image-Slideshow-with-Fade-Transitions-Background-Cycle.html</p></li>
<li><p>SMOOTH SCROLL
Para aplicarse debe añadir al anchorlink la clase &#8220;btn-smooth-scroll&#8221;.</p></li>
</ul>

<h2 id="usodemicrodatos">USO DE MICRODATOS</h2>

<ul>
<li><p>Microdatos de schema.org para incluidos. Principalmente en ficha de producto y breadcrumbs
https://www.google.com/webmasters/tools/richsnippets?q=http%3A%2F%2Fwww.delirios.es%2Fclients%2Fsomrurals%2Fficha.php
Las fichas de casa están tageadas como PRODUCTO itemtype=&#8220;http://schema.org/Product&#8221;</p></li>
<li><p>Microdatos Open Graph incluidos en el head</p></li>
</ul>

</body>
</html>
