/*------------------------------------*\
    $FORMS
\*------------------------------------*/

//
// Forms
// --------------------------------------------------

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
select, textarea {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px; 
	height: 45px;
	padding:0px 15px;
	width: 100%; 
	@include border-radius(4px);
	border: none;
	vertical-align: middle;
	font-family: $base-font-family;
	
}

input:focus, select:focus{
	color:$color-1;
}
	
select {
	//overflow: hidden;
	appearance: none;
	-webkit-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	-ms-appearance: none;
	outline:none;
	-moz-outline: none;
	-webkit-outline: none;
	background: $color-2 url(../img/icon-arrow-down.svg) center right no-repeat; 
	width: 100% !important;
}

select::-ms-expand {display: none;} // quita las flechas de ie 

select option[default] {
    color: $color-6;
}

// QUITAR FLECHAS DE Mozilla
/*
@-moz-document url-prefix() {
	
	.main-search-people {
		//display:inline-block;
		//border:1px outset;
		overflow:hidden; //where no pseudo is used;
	}
	.main-search-people.pseudo:before {
		//content:'⇓';
		//text-align:center;
		//float:right;
		width:120%;
		height:46px;
        //background:tomato;
		position:relative;
	}
	
	select {
		margin-right:-25px;
		margin-left:-1px;
		border:none;
    } 
}*/

/// TEXT BTN SUBMIT

input[type="submit"] {
	box-sizing: border-box; 
	font-weight: bold;
	display: inline-block;
	@include border-radius(4px);
	border-top: none;
	border-right: none;
	border-left:none;
	-webkit-appearance: none; // Fix para IOS
}

input[type="submit"]:hover {

	@include transition (all 0.1s linear);
	
}

input[type=checkbox],
input[type=radio] {
	
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px $color-1 solid;
	background: none;
	width: 16px !important;
	height: 16px;
	margin:0px 5px -3px 0px;
	vertical-align: top;
}

input[type=checkbox] {
	@include border-radius (4px);
	
	width: 16px !important;
}

input[type=radio] {
	@include border-radius (50%);
}

input[type=checkbox]:checked,
input[type=radio]:checked {
	background: $color-1;
}


// Cuando para desplazar el texto del checkbox a la dereche y que quede alineado

.checkbox-text {
	display: inline-block;
	//margin-left: 20px;
}


/// ERRORES DE FORMULARIO

input.error {
		border: 1px $color-9 solid;
		}
		
label.error {
		background:#fcdfda url('images/unchecked.gif') no-repeat;
		@include border-radius ($brand-round);
		padding:5px;
		margin-top: 2px;
		color:$color-9;
		display:block;
}

label.valid {
	//background: url('images/checked.gif') no-repeat;
	display: block;
	width: 16px;
	height: 16px;
	border: 1px $color-12 solid;
}

/// RADIO BUTTONS

/*

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 16px;
  margin    : 0;
  padding   : 0;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 16px;
  height           : 16px;
  margin           : 0px 5px 1px 10px; ;
  @include border-radius(4px);
  background       : none;
  border: 1px $color-1 solid;
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background:$color-1;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : 'âœ“';
  display     : block;
  width       : 14px;
 }

// White check for darkbackgrounds

.checks-negative {
		
	input[type=checkbox]:not(old) + label > span,
	input[type=radio   ]:not(old) + label > span{
		border: 1px $color-2 solid !important;
	}
	input[type=checkbox]:not(old):checked + label > span,
	input[type=radio   ]:not(old):checked + label > span{
		background:$color-2;
	}
}*/