/*------------------------------------*\
    RESPONSIVE HELPERS
\*------------------------------------*/

// HELPERS. SOLO MUESTRAN SEGUN NECESIDADES

// Only desktop

@media (max-width: $break-desktop) {
	
	.only-desktop {
		display:none;
	}

}

// Only movil and tablet


.only-mobile-and-tablet {
	
	display: block;
	
	@media (min-width: $break-desktop) {
	
		display:none !important;

	}
	
}


// Only movil

@media (min-width: $break-movil) {
	
	.only-mobile {display:none;}

}


// Only tablet and desktop

@media only screen and (max-width: $break-movil) {
	
	.only-tablet-to-desktop {display:none !important;}

}