/* CSS Document */

/*PAGINATION BOTTOM*/
.holder a { 
text-align:center;
width:25px;
height:25px;
cursor: pointer;
padding:9px 14px; 
margin:0 5px; 
color:#232323;
text-decoration:none; 
background: #ffffff; /* Old browsers */
border-radius:2px;
}
.holder a:hover {
 background: #f28842 !important;
 color: #fff;
 border-color:#37cdfe;
 }
.holder a.jp-previous.jp-disabled {display:none;}
.holder a.jp-next.jp-disabled {display:none;}
.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next 	  { margin-left: 15px; }
.holder a.jp-current, a.jp-current:hover {background:#f28842; color: #fff;font-weight: bold;}
.holder a.jp-disabled, a.jp-disabled:hover {color: #232323;}
.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {cursor: default; color:#fff;}
.holder span { margin: 0 1px; }