<?php
session_start();

//--------------------- REPORTES DE ERRORES O WARNINGS ------------------------------
/*
error_reporting(E_ALL);
ini_set('display_errors', 'On');
*/

// ------------------- CONFIGURACION BBDD ONLINE --------------------------------------
/*define('DB_HOST', '10.0.217.185');
define('DB_USER', 'somrurals');
define('DB_PASS', 'som762Ruf');
define('DB_NAME', 'somrurals');
$conn = mysqli_connect(DB_HOST, DB_USER, DB_PASS) or die ('Error connecting to mysql!');
mysqli_select_db(DB_NAME);*/


require_once ('administrador/includes/MysqliDb.php');
require_once ('includes/db_config.php');
$db = new MysqliDb ($db_config);

// ------------------------------------------------------------------------------------

define('URL_BASE','https://www.somrurals.com/');

$current_url = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";

//mysqli_query("SET NAMES utf8");
define('FILE_DIR','images/uploads/');
require '../includes/functions.php';


// CARGAMOS TODAS LAS VARIABLES DE CONFIGURACION
/*$rs_query = mysqli_query("SELECT confid, var, value FROM configuration");
while ($rs = mysqli_fetch_array($rs_query)) {
	$$rs['var'] = $rs['value'];
}*/
$rs_query=$db->get('configuration',null,'confid,var,value');
foreach($rs_query as $rs){
	$$rs['var'] = $rs['value'];
}
// COMPROBAMOS SI EL SITIO ESTÁ ONLINE
if ($SITE_STATE == 0) header("location: /manteniment.php");


// Comprobación del idioma -> 1 = català / 2 = catellano / 3 = inglés
if (strpos($_SERVER['REQUEST_URI'], '?')) {
	$simbol='&';
} else {
	$simbol='?';
}

if (isset($_GET['lng'])) $_SESSION["lng"]=$_GET['lng'];
if (isset($_POST['lng'])) $_SESSION["lng"]=$_POST['lng'];


if (!isset($_SESSION["lng"])) {
	session_start();
//	session_register("lng");
	$_SESSION["lng"];
	$_SESSION["lng"]='es';
}

// La variable $lng se usará básicamente para hacer consultas en base de datos refiriendose a un idioma "titulo_ca"->"titulo_$lng"
$lng = $_SESSION["lng"];

// Segun el lenguaje, se hace un include del archivo de idioma correspondiente
include('languages/'.$lng.'.php');

require ABS_BASE . '/vendor/autoload.php';
?>