<?php
session_start();
define('URL_BASE','https://www.somrurals.com/');
define('CDN_BASE','https://cdn-rural.ams3.cdn.digitaloceanspaces.com/somrurals/');
define('ABS_BASE','/var/www/somrurals_v2/');
define('ENVIRONMENT','development'); // development/production
define('ADMIN_BCC','info@somrurals.com');

define('APP_NAME','Somrurals.com');

/* Version de las librerías CSS y JS para evitar uso de versiones viejas cacheadas */
define('LIBRARIES_VERSION','20181106');

//--------------------- REPORTES DE ERRORES O WARNINGS ------------------------------
ini_set('display_errors', 1);
ini_set('display_startup_errors', 0);
//error_reporting(E_ALL);
error_reporting(E_ALL & ~E_NOTICE);
setlocale(LC_TIME,"es_ES");


$config_DB_datetime_format = 'Y-m-d H:i:s';
$config_DB_date_format = 'Y-m-d';

// Clase de log
require_once(ABS_BASE.'administrador/includes/Logger.php');
$log = new aalog(ABS_BASE.'administrador/logs/'.date('Ymd').'_logfile.log');

//$log->setCookie(1);
//$log->loginfo('here\'s some info on the DB connection: ');

// ------------------- CONFIGURACION BBDD ONLINE --------------------------------------

try {
    require_once (ABS_BASE.'administrador/includes/MysqliDb.php');
    require_once (ABS_BASE.'includes/db_config.php');
    $db = new MysqliDb ($db_config);

    // CARGAMOS TODAS LAS VARIABLES DE CONFIGURACION
    $rs_query=$db->get('configuration',null,'confid,var,value');
    foreach($rs_query as $rs){
        $$rs['var'] = $rs['value'];
    }
} catch (Exception $e) {
    header('Location: '.URL_BASE.'mantenimiento');
    exit();
}


// ------------------------------------------------------------------------------------



$current_url = "https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";

//mysql_query("SET NAMES utf8");
define('FILE_DIR','images/uploads/');
require ABS_BASE.'includes/functions.php';




// COMPROBAMOS SI EL SITIO ESTÁ ONLINE
//if ($SITE_STATE == 0) header("location: /manteniment.php");


// Comprobación del idioma -> 1 = català / 2 = catellano / 3 = inglés
if (strpos($_SERVER['REQUEST_URI'], '?')) {
	$simbol='&';
} else {
	$simbol='?';
}

if (isset($_GET['lng'])) $_SESSION["lng"]=$_GET['lng'];
if (isset($_POST['lng'])) $_SESSION["lng"]=$_POST['lng'];


if (!isset($_SESSION["lng"])) {
	session_start();
//	session_register("lng");
	$_SESSION["lng"];
	$_SESSION["lng"]='es';
}

// La variable $lng se usará básicamente para hacer consultas en base de datos refiriendose a un idioma "titulo_ca"->"titulo_$lng"
$lng = $_SESSION["lng"];
//Variable para pintar el simbolito de reserva inmediata
$reserva_inmediata = true;

// Segun el lenguaje, se hace un include del archivo de idioma correspondiente
include(ABS_BASE.'includes/languages/'.$lng.'.php');

$idiomas_descripcion = array('es' => 'Castellano', 'ca' => 'Català', 'en' => 'English', 'fr' => 'Français');

// Clave para codificación y decodificación de parámetros de url
$enconding_key = '2015SomRuralsMovetotheBit';

$allow_email_bcc=true;
$email_bcc_address=array('info@somrurals.com');
$email_subject_prefix = '';

$telefono_somrurals = array('humano' => '93 293 55 27', 'condensado' => '932935527');


$url_home_recursos_turisticos = 'https://recursos.somrurals.com/';

/* Token para acceder a los Spaces de Digital Ocean */
$digitalocean_spances_token = 'b8b08b6558ad11d5dcf12064771a564a609b55278a5cd6eb036ff9b72e9ca3cf';

define('GOOGLE_MAPS_API_KEY','AIzaSyDLHE1y5uE-H_oNGEgFtO064FkKYRTTMVs');



/*
 * PARAMETROS PARA REDSYS
 */

$sistema_pago = 'real';

if($sistema_pago == 'real') {
	/* Datos para pasarela en REAL */
	$config['tpv_nombre_comercio'] = 'SOMRURALS';
	$config['tpv_codigo_comercio'] = '061959409';
	$config['tpv_email_comercio'] = 'juanjo@movetothebit.com';
	$config['tpv_version'] = 'HMAC_SHA256_V1';    // Version el nuevo sistema SHA-256
	$config['tpv_palabra_secreta'] = '7TgfWkQACCWtuy68L7IT956O8T0wdZgM';    // Para el nuevo sistema SHA-256 - REAL
	$config['tpv_usuario'] = '061959409-001';
	//$config['tpv_password']	= 'p022695613-001';
	$config['tpv_payment_url'] = 'https://sis.redsys.es/sis/realizarPago';    // REAL
	$config['tpv_terminal'] = '001';
	$config['tpv_moneda'] = '978';
	$config['tpv_transaction_type'] = '0';
	$config['tpv_prepago_transaction_type'] = 'O'; // letra o mayúscula
	$config['tpv_email_notification'] = 'juanjo@movetothebit.com';
} else {

	/* Datos para pasarela de PRUEBAS */
	$config['tpv_nombre_comercio'] = 'SOMRURALS';
	$config['tpv_codigo_comercio'] = '061959409';
	$config['tpv_email_comercio'] = 'juanjo@movetothebit.com';
	$config['tpv_version'] = 'HMAC_SHA256_V1';    // Version el nuevo sistema SHA-256
	$config['tpv_palabra_secreta'] = 'sq7HjrUOBfKmC576ILgskD5srU870gJ7';    // Para el nuevo sistema SHA-256 - TEST
	$config['tpv_usuario'] = '061959409-001';
	//$config['tpv_password']	= 'p022695613-001';
	$config['tpv_payment_url'] = 'https://sis-t.redsys.es:25443/sis/realizarPago';    // TEST
	$config['tpv_terminal'] = '001';
	$config['tpv_moneda'] = '978';
	$config['tpv_transaction_type'] = '0';
	$config['tpv_prepago_transaction_type'] = 'O'; // letra o mayúscula
	$config['tpv_email_notification'] = 'juanjo@movetothebit.com';

}

require ABS_BASE . '/vendor/autoload.php';