<?php

$db_config =  Array (
	    'host' => 'localhost',
	    'username' => 'root',
	    'password' => '7caf3dd428a2ea9e3c3ae8318a342e81b890f6f4d278b9aa',
	    'db'=> 'somrurals',
	    'port' => 3306,
	    'prefix' => '',
	    'charset' => 'utf8');