/**************************************
*
*  Contact PAGE
*
***************************************/

.hero-contact { 

	background-image: url(../img/bg-hero-contact.jpg);
}

.contact-form {
	
	.label-group {
		margin-bottom: $spacing-unit-small;
		
	}
	
	textarea {height: 100px;padding: 10px;}
}

.contact-content {
	font-size:$h6-size;
}

.contact-email {
	
	text-align: center;
	font-size: $h4-size;
	
	margin: $spacing-unit-medium 0px;
	
	a {
		color: $color-1;
		font-weight: bold;
		
	}
}

.contact-gracias-tittle {
	font-weight: bold;
	font-size: $h1-size;
	margin-bottom: $spacing-unit-medium;
	line-height: 110%;
}